<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Dashbord | <%= username %><</title>
</head>
<body>
    <header class="header">
        <div class="navgate">
            <div class="user">
                <span><%= username %></span>
            </div>
            <a href="/logout" class="lk">Logout</a>
        </div>
    </header>
    <main class="main">
        
    </main>
</body>
</html>